/*BREADCRUMBS*/
.breadcrumbs {
	padding: 28px 0 30px 0;

	ul {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}

	li {
		font-size: 24px;
	  letter-spacing: -0.1px;

		&.back {
			margin-right: 26px;
		}

		&:not(.back):not(:last-child) {

			&:after {
				margin: 0 10px;
				content: "/";
			  color: #485465;
			}
		}

		a {

			&:not(.back-link) {
				color: #55c8cb;

			  &:hover {
			  	color: #45aaad;
			  }
			}
		}

		span {
			color: #485465;
		}
	}
}

.back-link {
	// font-size: 14px;
 //  font-weight: 600;
 //  letter-spacing: 0.3px;
 //  color: #485465;
 //  border-radius: 100px;
	// background-color: #ffffff;
	// display: block;
	// display: flex;
	// align-items: center;
	// padding: 13px 43px 13px 23px;

	display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.1px;
  font-family: "ProximaNovaBold";
  padding: 0 10px;
  min-width: 96px;
  color: white;
  background-image: -webkit-linear-gradient(45deg, #00adf2, #ffff7e);
  background-image: -o-linear-gradient(45deg, #00adf2, #ffff7e);
  background-image: linear-gradient(45deg, #00adf2, #ffff7e);
  background-size: 300% 300%;
  -webkit-animation: gradient 10s ease infinite;
  animation: gradient 10s ease infinite;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

	&:before {
		display: block;
		content: '';
		width: 7px;
		margin-right: 18px;
		height: 11px;
		background: url("assets/images/icons.png") no-repeat 0px -603px;
	}

	&:hover {
		box-shadow: 0 0 10px rgba(10, 125, 224, 0.3);
	}
}