/*ADD EXERCISE*/

section.add-exercise {
	padding: 30px 0 50px 0;

	.container {
		display: flex;
		justify-content: space-between;

		&>div {
			width: 49%;
		}
	}

	form {
		display: block;
		width: 100%;
	}

	.name {
		margin-bottom: 30px;

		label {
	    display: block;
	    font-size: 16px;
	    letter-spacing: -0.1px;
	    color: #485465;
	    margin-bottom: 10px;
		}

		input {
	    display: block;
	    width: 100%;
	    min-height: 50px;
	    background: #fff;
	    border-radius: 3px;
	    padding: 0 24px;
	    border: none;

	    &.error {
	    	border: 1px solid red;
	    }
		}
	}

	.file-uploads {
		width: 50%;
		position: relative;

		&:after {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			cursor: no-drop;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: rgba(255,255,255, 0.4);
 		}

 		&.active {

 			&:after {
 				display: none;
 			}
 		}
	}

	.program-setting {
		width: 100%;
	}

	.save-exercise {
		margin-top: 50px;

		input {
			border-radius: 3px;
	    background-color: #cad3de;
	    font-size: 12px;
	    font-weight: bold;
	    letter-spacing: -0.2px;
	    color: white;
	    padding: 13px 20px;
		}
	}

	.exercise-selects {

		.select {
			display: flex;
			align-items: center;
			width: 300px;

			&:first-child {
				margin-bottom: 10px;
			}
		}
	}

	label {
		min-width: 50px;
		margin-right: 10px;
	}

	select {
    padding: 0 24px;
    border: none;
    font-size: 16px;
    height: 50px;
    width: 100%;
    letter-spacing: -0.1px;
    cursor: pointer;
    color: #90a4ae;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(assets/images/select-arrow.png) no-repeat 96% center, #fff;
    background: url(assets/images/select-arrow.png) no-repeat calc(100% - 20px) center, #fff;
	}
}

.fileupload-buttonbar {
	cursor: pointer;

	.col-lg-7 {
		display: flex;
		align-items: center;
	}

	input {

		&[type="file"] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    margin: 0;
	    opacity: 0;
	    -ms-filter: 'alpha(opacity=0)';
	    font-size: 200px !important;
	    direction: ltr;
	    width: 100%;
	    height: 100%;
	    cursor: pointer;
		}
	}

	.btn {

		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

.glyphicon {
	display: block;
	font-style: normal;
	flex-shrink: 0;
	margin-right: 5px;
}

.btn-success {
	background: #5cb85c;
	position: relative;
	cursor: pointer;

	&:hover {
		background: #449d44;
	}
}

.btn-primary {
	background: #428bca;

	&:hover {
		background: #3071a9;
	}
}

.btn-warning {
	background: #f0ad4e;

	&:hover {
		background: #ec971f;
	}
}

.btn-danger {
	background: #d9534f;

	&:hover {
		background: #c9302c;
	}
}

.glyphicon-plus {
	display: block;
  width: 14px;
  height: 14px;
  background: url(assets/images/icons.png) no-repeat 0px -415px;
}

.glyphicon-upload {
	display: block;
  width: 16px;
  height: 16px;
  background: url(assets/images/upload-icon.png) no-repeat;
}

.glyphicon-ban-circle {
	display: block;
  width: 16px;
  height: 16px;
  background: url(assets/images/cancel.png) no-repeat;
}

.glyphicon-trash {
	display: block;
  width: 16px;
  height: 19px;
  background: url(assets/images/remove-icon.png) no-repeat;
}

.btn {
	display: block;
	position: relative;
	padding: 9px 12px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	white-space: nowrap;
	transition: 0.3s;

	span {
		color: #fff;
		font-size: 14px;
	}
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.table-striped {
	width: 100%;
	max-width: 100%;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #f9f9f9;
}

.table-striped>thead>tr>th,
.table-striped>tbody>tr>th,
.table-striped>tfoot>tr>th,
.table-striped>thead>tr>td,
.table-striped>tbody>tr>td,
.table-striped>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.progress.active .progress-bar, .progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}
.progress-striped .progress-bar, .progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}

.progress-bar-success {
  background-color: #5cb85c;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fileinput-button {
	display: flex;
}

.fade.in {
  opacity: 1;
}

.files tr {
	background: #fff;
}

.files tr td:last-child .btn {
	margin-right: 4px;
	float: left;
}

.fileinput-button {
	display: flex !important;
}