/*ADD ARTICLES*/
section.add-articles {
	width: 840px;
	margin: 0 auto;
	padding-bottom: 185px;

	form {
		display: flex;
		width: 100%;
	}

	.article-picture {
		width: 216px;
		margin-right: 34px;
		padding-top: 30px;
	}

	.picture-preview {
		width: 100%;
		height: 216px;
		border-radius: 3px;
		background-color: #ffffff;
		margin-bottom: 25px;
		position: relative;

		&:after {
			display: block;
			content: '';
			margin: 0 auto;
			width: 14px;
			height: 14px;
			top: 50%;
			position: relative;
			transform: translateY(-50%);
			background: url("assets/images/icons.png") no-repeat -15px -415px;
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.edit-picture {
		width: 100%;
		height: 50px;
		margin-bottom: 24px;
		display: flex;
		background: #fff;

		input {

			&[type="file"] {
				display: none;
			}
		}

		label {
			display: block;
			width: 52px;
			height: 100%;
			border-radius: 0 4px 4px 0;
			background: #7599fd;
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				background: darken(#7599fd, 5%);
			}

			// &:after {

			// }
		}

		#filename {
			width: calc(100% - 52px);
			font-size: 16px;
  		color: #485465;
  		line-height: 50px;
  		padding: 0 20px;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		white-space: nowrap;
  		border-radius: 4px 0 0 4px;
		}
	}

	.hint {

		p {
			font-size: 16px;
  		color: #485465;
  		margin-bottom: 9px;
		}

		span {
			font-size: 14px;
		  line-height: 1.71;
		  color: #90a4ae;
		}
	}

	.article-data {
		width: calc(100% - 250px)
	}

	.form-field {

		&:not(:last-child) {
			margin-bottom: 24px;
		}

		&.article-body {
			margin-bottom: 16px;
		}

		label {
			display: block;
			font-size: 16px;
		  letter-spacing: -0.1px;
		  color: #485465;
		  margin-bottom: 10px;
		}

		input,
		textarea {
			display: block;
			width: 100%;
			min-height: 50px;
			background: #fff;
			border-radius: 3px;
			padding: 0 24px;
			border: none;

			&::-webkit-input-placeholder {
				font-size: 16px;
			}
		}

		textarea {
			min-height: 272.5px;
			outline: none;
			padding: 18px 24px;

			&:focus {
	    	box-shadow: 0 0 3px rgba(10,125,224,.5);
			}
		}
	}

	.length-counter {
		margin-top: 14.5px;
		display: flex;
		justify-content: flex-end;
		font-size: 12px;
  	color: #90a4ae;

  	.inputed {

  		&:after {
  			display: inline-block;
  			content: "/";
  			margin: 0 2px;
  		}
  	}
	}

	button {
		height: 50px;
  	border-radius: 3px;
  	transition: 0.5s;
  	border: none;
  	outline: none;
  	font-size: 14px;
  	letter-spacing: -0.1px;
  	color: #ffffff;
  	padding: 0 10px;
  	min-width: 96px;
  	font-family: "ProximaNovaBold";

  	&:first-child {
  		margin-right: 16px;
  	}

  	&:last-child {
  		background: #cad3de;

  		&:hover {
  			background: darken(#cad3de, 5%);
  		}
  	}
	}
}