/*CREATE PROGRAM*/
.user-side {
	width: 16%;
	border-radius: 1px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 50px 0 rgba(205, 213, 218, 0.5);
  padding-top: 30px;
  min-height: 100%;
  flex-shrink: 0;
  transition: 0.3s;
  min-height: 100vh;
  border-right: solid 1px #d1dce4;

  @media (min-width: $responsive-wide) {
  	max-width: 202px;
  	width: 100%;
  }

  &.collapsed {
  	position: relative;
  	max-width: 112px;

  	.user-name,
  	.user-mail,
  	.control-buttons {
  		opacity: 0;
  		visibility: hidden;
  	} 	

		.nav-panel {

			a {
				text-indent: -999px;
				overflow: hidden;

				&:before {
					left: 45px;
				}
			}

			.chat {

				&:before {
					left: 47px;
				}
			}

			.insights {

				&:before {
					left: 50px;
				}
			}
		}

		.top-panel ul li:nth-child(3),
		.top-panel ul li.collapse-btn {
			display: none;
		}

		.collapse-panel {
			opacity: 1;
			visibility: visible;
		}	
  }

  .collapse-panel {
  	background: #f1f4f8;
  	right: -15px;
  	border-right: solid 1px #d1dce4;
  	opacity: 0;
		visibility: hidden;

  	&:after {
  		background: url('assets/images/collapse-dark.svg') no-repeat center;
  	}

  	&:hover {
  		background: darken(#f1f4f8, 3%);
  	}
  }

  .top-panel {
  	margin-bottom: 50px;
  	padding-left: 28px;

  	ul {
  		display: flex;
  		align-items: center;
  	}

  	li {

  		&:not(:last-child) {
  			margin-right: 13px;
  		}
  	}

  	.collapse-btn {
  		width: 16px;
  		cursor: pointer;
		  height: 3px;
		  background-color: #e0e6ef;
		  border: solid 1px #cfd8dc;
  	}

  	.back {
  		width: 9px;
  		height: 16px;
  		display: block;
  		background: url("assets/images/icons.png") no-repeat 0px -615px;
  	}

  	span {
  		font-size: 16px;
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
		  letter-spacing: -0.3px;
		  font-family: "ProximaNovaBold";
		  color: rgb(114, 207, 165);
  	}

  	img {
  		width: 20px;
  		display: block;
  		transition: 0.3s;

  		&:hover {
  			transform: rotate(-45deg);
  		}
  	}
  }

  .user {
  	text-align: center;

  	.user-photo {
  		width: 68px;
  		height: 68px;
  		box-shadow: 0 2px 14px 0 rgb(202, 211, 222);
  		border: solid 3px rgb(202, 211, 222);
  		margin: 0 auto 22px;
  		padding: 3px;
  		background: #fff;
  	}

  	.user-name {
  		font-size: 18px;
  		font-family: "ProximaNovaBold";
  		margin-bottom: 4px;
  		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
		  letter-spacing: -0.3px;
		  color: rgb(72, 84, 101);
  	}

  	.user-mail {
  		font-size: 16px;
		  letter-spacing: -0.3px;
		  color: rgb(72, 84, 101);
  	}

  	.add-mobile {
  		margin: 35px auto 7px;
  		width: 152px;
		  height: 43px;
		  position: relative;

		  &:after {
				position: absolute;
				top: 12px;
				right: 18px;
				display: block;
				content: url('assets/images/plus-icon.svg');
			}
  	}

  	.control-buttons {
  		margin: 5px auto 50px;

  		a,input {
  			display: block;
    		font-family: ProximaNova;
			  font-size: 14px;
			  font-weight: bold;
			  text-align: center;
			  width: 152px;
		  	height: 43px;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  color: rgb(47, 54, 88);
			  border-radius: 3px;
  			border: solid 1px rgb(209, 220, 228);
  			margin: 0 auto;
  			cursor: pointer;
  			position: relative;
		    font-family: "ProximaNovaBold";

    		&::-webkit-input-placeholder {					
					font-size: 14px;
					color: rgb(47, 54, 88);
				}

				&:hover {
					border-color: rgb(47, 54, 88);
				}
  		}

  		a {

  			&:after {
					position: absolute;
					top: 12px;
					right: 18px;
					display: block;
					content: url('assets/images/plus-icon.svg');
				}
  		}

  		input {
  			padding: 0 30px;
  		}
  	}
  }

  .nav-panel {
  	display: block;
  	text-align: left;

  	li {
  		display: block;
  	}

  	a {
  		font-size: 14px;
		  letter-spacing: -0.2px;
		  color: rgb(144, 164, 174);
		  position: relative;
		  display: block;
		  padding: 16px 30px 16px 78px;
		  white-space: nowrap;
		  text-overflow: ellipsis;
			overflow: hidden;
			border-left: 2px solid transparent;

			&:before {
				display: block;
				content: '';
				position: absolute;
				background: url("assets/images/icons.png") no-repeat;
			}

			&:hover,
			&.active {
				color: rgb(114, 207, 165);
				background-color: rgba(114, 207, 165, .15);
				border-color: rgb(114, 207, 165);
			}
  	}

  	.programs {

  		&:before {
  			width: 26px;
  			height: 27px;
  			top: 10px;
  			left: 28px;
  			background-position: -26px -113px;
  		}

  		&:hover,
  		&.active {

  			&:before {
  				background-position: 0 -113px;
  			}  			
  		}
  	}

  	.chat {

  		&:before {
  			width: 23px;
  			height: 21px;
  			left: 30px;
  			top: 13px;
  			background-position: 0 0;
  		}

  		&:hover,
  		&.active {

  			&:before {
  				background-position: -24px 0px;
  			}  			
  		}
  	}

  	.insights {

  		&:before {
  			width: 16px;
  			height: 21px;
  			left: 33px;
  			top: 14px;
  			background-position: 0 -540px;
  		}

  		&:hover,
  		&.active {

  			&:before {
  				background-position: -17px -540px;
  			}  			
  		}
  	}

  	.settings {

  		&:before {
  			width: 24px;
  			height: 24px;
  			left: 29px;
  			top: 14px;
  			background-position: 0 -712px;
  		}

  		&:hover,
  		&.active {

  			&:before {
  				background-position: -25px -712px;
  			}  			
  		}
  	}

  	.logout {

  		&:before {
  			left: 32px;
  			top: 14px;
  			width: 20px;
				height: 24px;
				background: url('assets/images/logout-dark.png') no-repeat 0px 0px;
  		}

  		&:hover,
  		&.active {

  			&:before {
  				background-position: -20px 0px;
  			}  			
  		}
  	}
  }
}

section.create-program {
	display: flex;
	min-height: 100%;
	position: relative;

	.back-link {
		position: absolute;
		top: 21px;
		left: 300px;
	}

	.program-container {
		padding-top: 51px;
		text-align: center;
		width: calc(100% - 261px);

		h1 {
			font-size: 24px;
		  letter-spacing: -0.1px;
		  font-family: "ProximaNovaBold";
		  color: rgb(72, 84, 101);
		  margin-bottom: 3px;

		  &+span {
		  	font-size: 16px;
			  letter-spacing: -0.1px;
			  color: rgb(144, 164, 174);
		  }
		}
	}

	.section-heading {
		margin-left: 229px;
		width: 584px;
	}
}

.program-form {
	margin-top: 45px;
	padding-top: 50px;
	border-top: solid 1px rgb(202, 211, 222);

	form {
		width: 584px;
		margin-left: 229px;
	}

	.form-field {

		&:first-of-type {
			margin-bottom: 24px;
		}

		label {
			margin-bottom: 10px;
		}
	}

	input[type="text"],
	select {
		display: block;
		height: 50px;
	  border-radius: 3px;
	  background: #fff;
	  background-color: rgb(255, 255, 255);
	  width: 100%;

	  &::-webkit-input-placeholder {
	  	font-size: 16px;
	  }
	}

	input[type="text"] {
		padding: 0 24px;
	}

	label {
		position: relative;
		display: flex;
		align-items: center;
		font-size: 16px;
	  letter-spacing: -0.1px;
	  color: rgb(72, 84, 101);
	}

	.selects {
		display: flex;

		.select {

			&:first-child {
				width: 106px;
				margin-right: 10px;
			}

			&:last-child {
				width: calc(100% - 116px);
			}
 		}

 		select {
 			padding: 0 24px;
 			border: none;
 			font-size: 16px;
		  letter-spacing: -0.1px;
		  cursor: pointer;
		  color: #90a4ae;
		  appearance: none;
		  background: url("assets/images/select-arrow.png") no-repeat 96% center, #fff;
		  background: url("assets/images/select-arrow.png") no-repeat calc(100% - 20px) center, #fff;

 			&:focus {
	    	box-shadow: 0 0 3px rgba(10,125,224,.5);
			}
 		}
	}

	.btn-gradient {
		display: block;
		height: 50px;
		border-radius: 3px;
		font-size: 14px;
	  font-weight: bold;
	  letter-spacing: -0.1px;
	  font-family: "ProximaNovaBold";
	  padding: 0 10px;
	  min-width: 96px;
	  color: rgb(255, 255, 255);
	}

	.radio-holder {
		margin: 19px 0 24px 0;
	}
}

.radio-holder {	
	
	input {
		display: none;

		&+label {

			&:before {
				display: block;
				content: '';
				border-radius: 50%;
				margin-right: 16px;
				width: 16px;
			  height: 16px;
			  flex-shrink: 0;
			  cursor: pointer;
	      border: solid 3px #9ba9bc;
	      background: #fff;
	      box-sizing: border-box;
			}
		}

		&:checked {

			&+label {
				cursor: pointer;

				&:before {
					background: linear-gradient(to bottom, #52C7CC, #95DDAE);
		    	background-size: 172%;
		    	border-color: transparent;
		    	background-position: 0 -21px;
				}

				&:after {
					width: 6px;
			    height: 6px;
			    display: block;
			    flex-shrink: 0;
			    content: '';
			    border: 2px solid #fff;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    cursor: pointer;
			    border-radius: 50%;
			    left: 3px;
			    background: transparent;
				}
			}
		}
	}
}

.icon-del {
	position: absolute;
  top: -1px;
  right: -1px;
  width: 15px;
  height: 15px;
  display: none;
  background: url(../images/close-window.png) no-repeat 0px 0px / contain;
  cursor: pointer;
}

.collapse-panel {
	min-height: 100vh;
	height: 100%;
	bottom: 0;
	width: 14px;
	cursor: pointer;
	position: absolute;
	top: 0;

	&:after {
		display: block;
		content: '';
		position: sticky;
		left: 0;
		width: 14px;
		height: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
}

// .add-tag-panel {
// 	position: absolute;
//   top: 110%;
//   left: 38px;
//   box-shadow: 0px 1px 4px rgba(0,0,0,.5);
//   background: #fff;
//   padding: 10px;
//   border-radius: 5px;
//   display: none;
//   z-index: 3;

//   input {
//   	padding: 0 5px;
//   	border: 1px solid #dbdbdb;
//   	display: block;
//   	margin-bottom: 5px;
//   }
// }

// .tags-container {

// 	li {
// 		position: relative;

// 		&.active {

// 			i {
// 				display: block;
// 			}
// 		}
// 	}
// }


section.program {

	&+.side-panel {
		max-height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		width: 355px;
		z-index: 3;
		transform: none;
		transition: 0.5s;

		&.collapsed {
			transform: translateX(100%);

			.collapse-panel {
				opacity: 0;
				visibility: hidden;
			}
		}

		.collapse-panel {
			left: -15px;
			height: calc(100% + 2px);
			top: -1px;
			background-color: #6C7684;

			&:after {
				background: url('assets/images/collapse-white.svg') no-repeat center;
			}

			&:hover {
				background: darken(#6C7684, 3%);
			}
		}
	}
}

.collapse-sidebar {
	width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  top: 85px;
  right: 15px;
  background-color: #485466;
  cursor: pointer;
  opacity: 1;
  transition: 0.3s;
	visibility: visible;
  box-shadow: 0 2px 4px 0 rgba(207, 216, 220, 0.5);

  &.hidden {  	
  	opacity: 0;
  	visibility: hidden;
  }

  &:after {
  	display: block;
    width: 14px;
    height: 14px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(assets/images/icons.png) no-repeat 0px -415px;
  }
}