/*INVITE*/
section.invite {
	padding: 74px 0 152px 0;
	width: 588px;
	margin: 0 auto;
	text-align: center;

	h1 {
		font-size: 24px;
	  font-weight: bold;
	  letter-spacing: 2.3px;
	  color: #72cfa5;
	  font-family: "ProximaNovaBold";
	  margin-bottom: 7px;
	  text-transform: uppercase;

	  &+p {
	  	font-size: 16px;
			color: #66758b;
			margin-bottom: 44px;
	  }
	}

	.member-role {

		span {
			font-size: 16px;
  		color: #90a4ae;
		}
	}

	.form-field {

		&.roles {
			display: flex;
			margin-bottom: 21px;
		}
	}

	.field-subtitle {
		font-size: 16px;
  	color: #66758b;
  	margin-right: 32px;
  	text-align: left;
	}

	.role {

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	input {

		&[type="checkbox"] {
			display: none;

			&+label {
				position: relative;
				font-size: 16px;
  			color: #66758b;
  			display: flex;
  			align-items: center;
  			cursor: pointer;

  			&:before {
					display: block;
					content: '';
					width: 20px;
				  height: 20px;
				  background-color: #ffffff;
				  border: solid 4px #9ba9bc;
				  border-radius: 50%;
				  margin-right: 16px;
  			}
			}

			&:checked {

				&+label {

					&:before {
						background: linear-gradient(to bottom, #52C7CC, #95DDAE);
						background-size: 172%;
					  background-position: 0 -44px;
					  border-color: transparent;
					}

					&:after {
						width: 10px;
				    height: 10px;
				    display: block;
				    content: '';
				    border: 4px solid #fff;
				    position: absolute;
				    top: 5px;
				    border-radius: 50%;
				    left: 5px;
				    background: transparent;
					}
				}
			}
		}
	}
}