/*INVITE*/
section.invite {
	padding: 74px 0 152px 0;
	width: 588px;
	margin: 0 auto;
	text-align: center;

	h1 {
		font-size: 24px;
	  font-weight: bold;
	  letter-spacing: 2.3px;
	  color: #72cfa5;
	  font-family: "ProximaNovaBold";
	  margin-bottom: 7px;
	  text-transform: uppercase;

	  &+p {
	  	font-size: 16px;
			color: #66758b;
			margin-bottom: 44px;
	  }
	}
}


.form-field {

	&.roles {
		display: flex;
		margin-bottom: 21px;
	}

	.member-role {

		span {
			font-size: 16px;
  		color: #90a4ae;
		}
	}	

	.field-subtitle {
		font-size: 16px;
  	color: #66758b;
  	margin-right: 32px;
  	text-align: left;
	}

	.role {

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}

	input {

		&[type="radio"] {
			display: none;

			&+label {
				position: relative;
				font-size: 16px;
  			color: #66758b;
  			display: flex;
  			align-items: center;
  			cursor: pointer;

  			&:before {
					display: block;
					content: '';
					width: 20px;
				  height: 20px;
				  background-color: #ffffff;
				  border: solid 4px #9ba9bc;
				  border-radius: 50%;
				  margin-right: 16px;
  			}
			}

			&:checked {

				&+label {

					&:before {
						background: linear-gradient(to bottom, #52C7CC, #95DDAE);
						background-size: 172%;
					  background-position: 0 -44px;
					  border-color: transparent;
					}

					&:after {
						width: 10px;
				    height: 10px;
				    display: block;
				    content: '';
				    border: 4px solid #fff;
				    position: absolute;
				    top: 5px;
				    border-radius: 50%;
				    left: 5px;
				    background: transparent;
					}
				}
			}
		}
	}
}

.members-container {
	flex-wrap: wrap;
	display: flex;
	justify-content: flex-end;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 0.5px #cad3de;
  padding: 35px 40px;
  position: relative;

	.table-head {
		display: flex;
		margin-bottom: 30px;
		align-items: center;
		width: 100%;

		a {
			color: #fff;
	    padding: 5px 10px;
	    color: #fff;
	    border-radius: 3px;
	    font-size: 12px;
	    display: block;
	    margin-left: 10px;
		}
	}

	.members {
		width: 100%;
	}

	thead {
		td {
			font-weight: bold;
		}
	}

	td {
		padding: 5px 0;
	}

	.member-role,
	.actions {
		display: flex;
		align-items: center;
	}

	.actions {

		a {
			text-indent: -999999px;

			&:first-child {
				margin-right: 20px;
				display: block;
				width: 60px;
				height: 27px;
				background: url('assets/images/member-status.png');

				&.active {
					background-position: 0 0;
				}

				&.inactive {
					background-position: 0 -34px;
				}
			}

			&:last-child {
				width: 20px;
				height: 24px;
				background: url('assets/images/delete-member.png') no-repeat center;
			}
		}
	}

	input[type="radio"] {
		display: none;

		&+label {
	    display: flex;
	    align-items: center;
	    font-size: 12px;
	    position: relative;
	    letter-spacing: -0.2px;
	    color: #485465;
	    margin-right: 10px;
	    cursor: pointer;

			&:before {
				display: block;
		    content: '';
		    border-radius: 50%;
		    margin-right: 5px;
		    width: 16px;
		    height: 16px;
		    -webkit-flex-shrink: 0;
		    -ms-flex-negative: 0;
		    flex-shrink: 0;
		    cursor: pointer;
		    border: solid 3px #9ba9bc;
		    background: #fff;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    border: solid 1px #9ba9bc;
			}
		}

		&:checked {

			&+label {

				&:before {
					background-size: 152%;
					border-color: transparent;
					box-shadow: 0 2px 14px 0 rgb(202, 211, 222);
			    background: -webkit-gradient(linear, left top, left bottom, from(#52C7CC), to(#95DDAE));
			    background: -webkit-linear-gradient(top, #52C7CC, #95DDAE);
			    background: -o-linear-gradient(top, #52C7CC, #95DDAE);
			    background: linear-gradient(to bottom, #52C7CC, #95DDAE);
			    background-size: 172%;
			    border-color: transparent;
			    background-position: 0 -21px;
				}

				&:after {
			    width: 6px;
			    height: 6px;
			    display: block;
			    flex-shrink: 0;
			    content: '';
			    border: 2px solid #fff;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    cursor: pointer;
			    border-radius: 50%;
			    left: 3px;
			    background: transparent;
				}
			}
		}

		&.disabled {

			&+label {

				&:before {
					background-size: 152%;
					border-color: transparent;
			  	background: #dbdbdb;
			    background-size: 172%;
			    border-color: transparent;
			    background-position: 0 -21px;
				}

				&:after {
			    width: 6px;
			    height: 6px;
			    display: block;
			    flex-shrink: 0;
			    content: '';
			    border: 2px solid #fff;
			    position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    cursor: pointer;
			    border-radius: 50%;
			    left: 3px;
			    background: transparent;
				}
			}
		}
	}
}