/*MAIN PAGE*/

.home {
	display: flex;
	min-height: 100%;
	min-height: 100vh;

	.container {
		box-shadow: 0 20px 60px 0 rgba(202, 211, 222, 0.6);
		background: #fff;
		border-radius: 6px;
		border: solid 1px #e1e7ef;
		display: flex;
		margin: auto;
		overflow: hidden;
		height: 700px;
	}

	.home-panel {
		width: calc(100% - 63.3%);
		position: relative;
		display: flex;
	}

	.home-data {
		width: 63.3%;
		background: #f0f3f8;
	}

	.user {
		margin: auto;
		text-align: center;
		width: 100%;
		padding: 0 7.3%;

		.ava-holder {
			width: 89px;
			margin: 0 auto;
		  height: 89px;
		  box-shadow: 0 2px 14px 0 #cad3de;
		  border: solid 3px #cad3de;
		  padding: 3px;
		  overflow: hidden;		  
		}

		.user-name {
			font-size: 22px;
		  letter-spacing: -0.1px;
		  color: #72cfa5;
		  margin: 18px 0 26px 0;
		}

		input {
			display: block;
			width: 100%;
			height: 50px;
			border-radius: 3px;
  		background-color: #f0f4f8;
  		padding: 0 24px;
		}
	}

	.home-btns {
		width: 100%;
		position: absolute;
		bottom: 50px;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;

			li {
				display: block;

				&:not(:last-child) {
					margin-right: 35px;
				}
			}

			a {
				display: block;
			}
		}
	}

	.contacts {
		display: flex;
	}

	.list {
		width: 48.75%;
		position: relative;
		max-height: 703px;
		overflow: hidden;
		flex-shrink: 0;
  	border-right: solid 1px rgba(202,211,222, 0.3);

  	ul {
  		padding: 15% 12% 5%;
  		overflow: auto;
  		display: block;
  		height: 100%;
  		margin-right: -15px;
  	}

  	&::-webkit-scrollbar {
  		width: 0;
  	}

		.member {
			display: flex;
			color: #485465;
			letter-spacing: -0.1px;
			transition: 0.5s;
			opacity: .5;

			&:not(:last-child) {
				margin-bottom: 39px;
			}

			&:hover {
				opacity: 1;
			}
		}

		.member-photo {
			width: 49px;
			height: 49px;
			margin-right: 16px;
			flex-shrink: 0;
		}

		.name {
			font-size: 16px;
		}

		.success {
			font-size: 12px;		  
		  margin: 2px 0 14px 0;
		}

		.view-profile {
			display: inline-block;
			font-size: 14px;
		  color: #ffffff;
		  text-transform: lowercase;
		  border-radius: 3px;
  		background-color: #7599fd;
  		padding: 4px 15px;

  		&:hover {
  			background: darken(#7599fd, 5%);
  		}
		}
	}

	.current-chat {
		width: calc(100% - 48.75%);
		padding: 7.2% 4% 0 3%;

		.contact {
			width: 49px;
			height: 49px;
			margin-left: 10px;
		}

		.msg {
			font-size: 16px;
		  line-height: 1.63;
		  letter-spacing: -0.1px;
		  color: #485465;
		  max-width: 282px;
		  margin: 24px 0 24px 10px;
		}

		input {
			border-radius: 3px;
			background-color: #ffffff;
			height: 50px;
			display: block;
			width: 100%;
			padding: 0 24px;
		}
	}
}

i {

	&.icon {
		display: block;
		margin: 0 auto;
		background: url("assets/images/icons.png") no-repeat;

		&.icon-home {
			width: 26px;
			height: 27px;
			background-position: -26px -113px;

			&:hover {
				background-position: 0 -113px;
			}
		}

		&.icon-chat {
			width: 23px;
			height: 21px;
			background-position: 0 0;

			&:hover {
				background-position: -24px 0;
			}
		}

		&.icon-stats {
			width: 16px;
			height: 20px;
			background-position: 0 -540px;

			&:hover {
				background-position: -17px -540px;
			}
		}

		&.icon-settings {
			width: 24px;
			height: 24px;
			background-position: 0 -712px;

			&:hover {
				background-position: -25px -712px;
			}
		}

		&.icon-logout {
			width: 20px;
			height: 24px;
			background: url('assets/images/logout-dark.png') no-repeat 0px 0px;

			&:hover {
				background-position: -20px 0px;
			}
		}

		&.icon-profile {
			width: 20px;
			height: 23px;
			background: url('assets/images/profile-icon.png') no-repeat 0px -23px;

			&:hover {
				background-position: 0 0px;
			}
		}
	}
}