/*MY EXERCISE*/
section.exercise {
	padding-bottom: 20px;

	.exercise-types {
		margin-bottom: 12px;
		display: flex;
		flex-wrap: wrap;

		li {
			margin-bottom: 12px;

			&:not(:last-child) {
				margin-right: 12px;
			}
		}

		a {
			font-size: 14px;
		  letter-spacing: -0.1px;
		  color: rgb(72, 84, 101);
		  display: block;
		  border-radius: 3px;
		  padding: 9px 14px;
  		background-color: rgb(224, 230, 237);

  		&:hover,
  		&.active {
  			font-size: 14px;
			  font-weight: bold;
			  letter-spacing: -0.1px;
			  color: rgb(255, 255, 255);
			  font-weight: bold;
			  background-image: linear-gradient(28deg, #65CEC4, #A5E2A7);
  		}
		}
	}
}

.page {
	display: flex;

	.content {
		width: calc(100% - 239px);
	}

	.sidebar {
		width: 200px;
	  margin-right: 39px;
	}

	.exercise-parts {
		border-radius: 3px;
	  background-color: rgb(255, 255, 255);
	  padding: 10px;

	  li {
	  	text-align: center;

	  	&:not(:last-child) {
	  		margin-bottom: 8px;
	  	}
	  }

	  a {
	  	display: block;
		  font-size: 14px;
		  letter-spacing: -0.1px;
		  color: rgb(72, 84, 101);
		  padding: 10px 5px;
		  border-radius: 3px;
  		background-color: rgb(224, 230, 237);

  		&:hover,
  		&.active {
  			color: rgb(255, 255, 255);
  			background-color: rgb(114, 207, 165);
  		}
	  }
  }

  .exercise-container {
  	display: flex;
  	flex-wrap: wrap;

  	.exercise {
			width: 200.4px;
			position: relative;
			margin-bottom: 41.4px;

			&:hover {

				.action-buttons {
					opacity: 1;
				}
			}

			&:not(:nth-child(4n+4)) {
				margin-right: 33px;
			}

			@media (min-width: 1752px) {
				
				&:not(:nth-child(4n+4)) {
					margin-right: 0;
				}

				&:not(:nth-child(5n+5)) {
					margin-right: 33px;
				}
			}

			a {

				&:hover {

					img {
				    box-shadow: 0 0 10px rgba(24, 95, 92, 0.7);
					}

					span {
						color: #000;
					}
				}
			}

			img {
				display: block;
				width: 100%;
				height: 130.4px;
				transition: 0.3s;
				margin-bottom: 25.2px;
			}

			span {
				font-size: 16px;
				transition: 0.3s;
			  letter-spacing: -0.3px;
			  color: rgb(72, 84, 101);
			}
  	}
  }

  .action-buttons {
  	left: 200px;
  }
}