/*GENERAL SETTINGS*/
section.settings {
	padding-bottom: 35px;

	.settings-data {
		border-radius: 3px;
	  background-color: #ffffff;
	  border: solid 0.5px #cad3de;
	  padding: 35px 40px;
	  display: flex;
	  position: relative;
	  margin-bottom: 16px;

	  &>div {

	  	&:first-of-type {
				width: 357px;
				margin-right: 254px;
	  	}
	  }
	}

	.edit-btn {
		font-size: 14px;
	  letter-spacing: -0.1px;
	  color: #72cfa5;
	  display: flex;
	  position: absolute;
	  top: 36px;
	  right: 40px;
	  align-items: center;

	  &:hover {
	  	text-decoration: underline;
	  }

	  &:before {
	  	display: block;
	  	width: 17px;
	  	height: 16px;
	  	content: '';
	  	margin-right: 9px;
	  	background: url("assets/images/icons.png") no-repeat 0px -72px;
	  }
	}

	h2 {
		font-size: 24px;
	  letter-spacing: -0.1px;
	  color: #485465;
	  margin-bottom: 36px;
	}

	.company-logo {
		width: 100%;
	  height: 169px;
	  border-radius: 3px;
	  background-color: #ffffff;
	  border: solid 1px #e6ebf1;
	  padding: 15px;

	  img {
	  	max-width: 96%;
	  	max-height: 96%;
	  	display: block;
	  	position: relative;
	  	margin: 0 auto;
	  	transform: translateY(-50%);
	  	top: 50%;
	  }
	}

	.edit-logo {
		width: 100%;
	  height: 48px;
	  border-radius: 3px;
	  border: solid 1px #e6ebf1;
	  margin: 16px 0 11px 0;
	  display: flex;


	  &+p {
	  	font-size: 14px;
		  line-height: 1.71;
		  letter-spacing: -0.1px;
		  color: #90a4ae;
	  }
	}

	label {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		height: 100%;
		width: calc(100% - 256px);
		font-size: 16px;
  	color: #66758b;

  	&:after {
  		display: block;
	    content: '';
	    width: 22px;
	    height: 22px;
	    cursor: pointer;
	    margin-left: 17px;
	    z-index: 1;
	    background: url(assets/images/icons.png) no-repeat 0px -456px;
  	}
	}

	input {

		&[type="file"] {
			display: none;
		}
	}

	#filename {
		display: block;
		height: 100%;
		width: 256px;
		background: #fff;
		padding: 0 24px;
		line-height: 48px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		border-right: solid 1px #e6ebf1;
	}

	.details {
		width: 370px;
	}

	.details-item {
		padding-left: 40px;
		position: relative;

		&:not(:last-of-type) {
			margin-bottom: 30px;
		}

		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			background: url("assets/images/icons.png") no-repeat;
		}

		p {
			font-size: 16px;
		  font-weight: bold;
		  letter-spacing: -0.1px;
		  color: #2f4366;
		  font-family: "ProximaNovaBold";
		  margin-bottom: 10px;
		}

		input {
			display: block;
			font-size: 16px;
		  letter-spacing: -0.1px;
		  color: #90a4ae;
		  background: transparent;
		  width: 100%;
		  padding: 0 10px;
		  border: solid 1px #e6ebf1;
		  overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;

		  &[disabled] {
		  	border: solid 1px transparent;
		  }
		}
	}

	.email {

		&:before {
			width: 23px;
			height: 16px;
			background-position: 0 -157px;
		}
	}

	.phone {

		&:before {
			width: 21px;
			height: 21px;
			background-position: 0 -263px;
		}
	}

	.address {

		&:before {
			width: 17px;
			height: 23px;
			background-position: 0 -89px;
		}
	}

	.timezone {

		&:before {
			width: 21px;
			height: 21px;
			background-position: -23px -21px;
		}
	}

	.information {

		h2 {
			margin-bottom: 24px;
		}

		p {
			font-size: 16px;
		  line-height: 1.63;
		  letter-spacing: -0.1px;
		  color: #90a4ae;
		}
	}

	.worktime {

		h2 {
			margin-bottom: 21px;
		}

		table {
			width: 100%;
		}

		td {
			line-height: 42px;
			font-size: 16px;
			letter-spacing: -0.1px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&:first-child {
			  color: #2f4366;
			  width: 197px;
			  max-width: 197px;
			}

			&:last-child {
			  color: #90a4ae;
			  display: flex;
			  align-items: center;

			  &:before {
			  	display: block;
			  	content: '';
			  	margin-right: 16px;
			  	width: 22px;
			  	height: 22px;
			  	background: url("assets/images/icons.png") no-repeat 0px -21px;
			  }
			}
		}
	}
}