.home {

	&.invite-new {
		flex-direction: column;
		padding-top: 20px;
		align-items: flex-end;
		width: 79.1677%;
    min-width: 1140px;
    margin: 0 auto;

		.container {
			height: 648px;
			width: 100%;
			margin: 0 auto;
		}

		.invite-container {
			border-right: solid 1px rgba(202, 211, 222, 0.3);
			border-left: solid 1px rgba(202, 211, 222, 0.3);

			.step1 {
				
				border-bottom: 0;
			}

			.add_user_btn {
				background: #fff;
				font-size: 16px;
			  font-weight: 600;
			  border-radius: 3px;
			  background-color: #ffffff;
			  border: solid 1px #6fd0a7;
			  color: #6fd0a7;
			  position: relative;
			  margin-bottom: 24px;

			  &:hover {
			  	background: darken(#fff, 5%);
			  }

			  &:after {
			  	display: block;
			  	content: url('assets/images/green-plus.svg');
			  	position: absolute;
			  	top: 0;
			  	background: transparent;
			  	right: 30px;
			  }
			}
		}

		.create {
		  font-size: 14px;
		  font-weight: 500;
		  color: rgb(255, 255, 255);
		  display: flex;
		  margin-top: 4px;
		  align-items: center;
		  padding: 7px 15px;
		  border-radius: 3px;
  		background-color: rgb(111, 208, 167);

  		&:after {
  			display: block;
  			content: '+';
  			font-weight: bold;
  			font-size: 18px;
  			margin-left: 8px;
  		}

  		&:hover {
  			background-color: darken(rgb(111, 208, 167), 3%);
  		}
		}

		.member-btns {
			display: flex;
			align-items: center;
		}

		.list {
			width: 100%;

			ul {
				padding: 0;
			}

			.member {
				background-color: #ffffff;
  			border-top: solid 1px #d1dce4;
  			border-bottom: solid 1px #d1dce4;
  			padding: 16px 21px 20px 22px;

  			&:not(:last-child) {
  				margin-bottom: 4px;
  			}

  			&.new-member {

					.member-btns {
						justify-content: space-between;
					}

					.mobile-alert {
						width: 17px;
					}			
  			}
			}

			.send-invite {
				display: inline-flex;
			}

			.mobile-alert {
				display: inline-flex;
				width: 32px;
				height: 32px;
				margin-left: 20px;
				background: url('assets/images/smartphone.png') no-repeat left;

				&.active {
					background: url('assets/images/red_smartphone.png') no-repeat left;
				}

				&.installed {
					background: url('assets/images/smartphone-green.svg') no-repeat left;
				}
			}
		}

		.invite-head {
			padding: 10px 0;
			position: relative;
			text-align: center;
			border-bottom: solid 1px rgba(202, 211, 222, 0.3);

			h3 {
				font-size: 16px;
			  font-weight: 600;
			  color: #17466c;
			}

			.back-btn {
				border-bottom: 0;
				padding: 0;
				position: absolute;
				top: 50%;
				left: 25px;
				transform: translateY(-50%);
			}
		}
		

		.step2 {			

			.add-users {
				padding: 40px 0 0 0;

				input {
					border: 1px solid transparent;

					&:focus {
						border: solid 1px #cfd8dc;
					}
				}
			}

			.submit {

				button {
					position: relative;

					span {
						font-size: 16px;
					}

					&:after {
						display: block;
						content: url('assets/images/check2.svg');
						position: absolute;
						top: 14px;
						right: 34px;
					}
				}
			}

			.default-avatar {
				width: 55px;
				height: 55px;
				margin: 0 auto 30px;
			}
		}
	}

	.user-added {
	  font-size: 14px;
	  font-weight: 600;
	  color: #ffffff;
	  border-radius: 3px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  	background-color: #6fd0a7;
  	padding: 11px 30px;
  	transition: 0.3s;
  	margin-bottom: 34px;
  	text-align: center;
  	opacity: 0;
  	visibility: hidden;

  	&:after {
  		display: block;
  		content: url('assets/images/check2.svg');
  		margin-left: 30px;
  	}

  	&.active {
  		opacity: 1;
  		visibility: visible;
  	}
	}
}


.default-avatar {
	position: relative;
	border: solid 3px #cad3de;
  padding: 1px;
  width: 49px;
  height: 49px;
  margin-right: 16px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
	background: url('assets/images/default-user.svg') no-repeat center / 24px, #F5F7FC;
}