<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/select2/4.0.3/css/select2.min.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="assets/css/nouislider.css")
		link(rel="stylesheet", href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
		title My Physio Dashboard | Active programs
	body
		section.program
			.user-side
				.top-panel
					ul
						li
							a(href="#" class="back" title="Back")
						li
							a(href="#" title="Home")
								img(src="assets/images/main-logo.svg", alt="")
						li
							span My Physio
						li.collapse-btn
				.user
					.user-photo.avatar
						img(src="http://pipsum.com/100x100", alt="")
					.user-name Serhii Hubarenko
					.user-mail lelaquin@gmail.com	
					.control-buttons
						.add-mobile
							input(type="text" value="" placeholder="Add mobile" title="Edit")			
						a(href="#" class="add-tag-btn") Add tag
					ul.nav-panel
						li
							a(href="#" class="programs active") Programs
						li
							a(href="#" class="chat") Chat
						li
							a(href="#" class="insights") Insights
				.collapse-panel
			.programs-content
				.page-title Select program: 
				.active-programs
					h1 Active programs
					.programs-container
						.slider-arrows
							.arrow-left
								button
								span 10 programs
							.arrow-right
								button
								span 10 programs
						.programs-slider
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="75")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="80")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="62")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="70")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="75")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="80")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="62")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
							.program
								table
									thead
										tr
											td Shoulder Rehab
											td
												a(href="#" class="edit-btn" title="Edit")
									tbody
										tr
											td(rowspan="2")
												.program-score(data-percent="70")
													.score-data
												a(href="#") view details
											td Day 5 of 14
										tr
											td Recomend:
												span +2  day
										tr
											td Best success:
											td
												span eg home 9-10am
										tr
											td Reminders:
											td
												.reminder.no-reminder None
										tr
											td Prescription: 
											td
												span 2x daily
										tr.positive
											td Recovery: 
											td
										tr.positive
											td Managing Inflammation tick:  
											td
				.active-tools
					h2 Insights tools
					.panel
						.panel-head
							.panel-title
								select#panel-title(name="panel-title")
									option(value="Success rate") Success rate
									option(value="Success time of day") Success time of day
									option(value="Success location (later)") Success location (later)
									option(value="Articles") Articles
									option(value="Pain scale") Pain scale
							.panel-buttons
								.control-buttons
									a(href="#!" class="pdf-btn") View as pdf
									a(href="#!" class="archive-btn") Archive
								.navigation
									ul
										li
											a(href="#!")
										li
											a(href="#!")
						.panel-chart
		.side-panel#tabs.collapsed
			ul.tabs-navigation
				li
					a(href="#tabs-1") Exercises 
				li
					a(href="#tabs-2") Tools
				li
					a(href="#tabs-3") Articles
			.tab#tabs-1
				h4 Exercises Library
				form.search-form
					input(type="text" placeholder="Search" required)
					button(type="submit" title="Submit")
				ul.exercises-tags
					li
						a(href="#" class="active") All
					li
						a(href="#") Realese
					li
						a(href="#") Stretch
					li
						a(href="#") Posture.
					li
						a(href="#") Self Mob.
					li
						a(href="#") Post Op.
					li
						a(href="#") Proproception.
					li
						a(href="#") Neutral Mob.
					li
						a(href="#") Assessment Tools
				.select-holder
					select#select-exercise
						option(value="exercise1") All parts
						option(value="exercise2") All parts
						option(value="exercise3") All parts
				ul.exercise-list
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex1.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex7.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex6.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex12.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex1.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex7.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex1.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex7.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex6.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex12.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex1.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex7.png", alt="" class="img-responsive")
							span Side Lying Hip Internal Rotation
			.tab#tabs-2
				h4 Tools
				form.search-form
					input(type="text" placeholder="Search" required)
					button(type="submit" title="Submit")
				.add-tools
					.tool.pain-scale
						.tool-name Add Pain Scale
						a(href="#" class="add-tool" title="Add")
					.tool.note
						.tool-name Add Note
						a(href="#" class="add-tool" title="Add")
					.tool.note
						.tool-name Motivational Quotes
						a(href="#" class="add-tool" title="Add")
					.tool.time
						.tool-name "Time of day Success"
						a(href="#" class="add-tool" title="Add")
			.tab#tabs-3
				h4 Articles
				form.search-form
					input(type="text" placeholder="Search" required)
					button(type="submit" title="Submit")
				ul.article-list
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex11.png", alt="" class="img-responsive")
							span Hot-Cold Treatment
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex8.png", alt="" class="img-responsive")
							span Injury Healing Process
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex9.png", alt="" class="img-responsive")
							span Managing Inflammation
					li.item
						a(href="#")
							.img-holder
								img(src="assets/images/ex10.png", alt="" class="img-responsive")
							span Office Ergonomics	
			.collapse-panel
		.collapse-sidebar
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/easypiechart.min.js")
		script(src="assets/js/nouislider.min.js")
		script(src="assets/js/jquery-ui.min.js")
		script(src="https://cdn.jsdelivr.net/select2/4.0.3/js/select2.full.min.js")
		script(src="https://content.jwplatform.com/libraries/QD1ITVfl.js")
		script(src="assets/js/chart.js")
		script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
		script(src="assets/js/main.js")