<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="assets/css/nouislider.css")
		title My Physio Dashboard | Add exercise
	body
		header
			.main-line
				.container
					.header-panel
						.logo
							a(href="/") MyPhysio
						.patient
							a(href="#") Patients
						.settings
							a(href="#" class="active") General Settings
					.user-panel
						.user
							.user-avatar.avatar
								img(src="http://pipsum.com/100x100", alt="")
							.user-name Henry Wagner
						.logout
							a(href="#" title="Log Out")
			nav
				.container
					ul
						li
							a(href="#" class="active") General
						li
							a(href="#") Team Members
						li
							a(href="#") My Exercises
						li
							a(href="#") My Templates
						li
							a(href="#") My Articles
						li
							a(href="#") Integrations 
						li
							a(href="#") Marketing Automation
		.breadcrumbs
			.container
				ul
					li.back
						a(href="#" class="back-link") Back
					li
						a(href="#") My Exercises
					li
						span Add Exercise
		section.add-exercise
			.container
				.data-form
					form(action="#")
						.exercise-data
							.name
								label(for="exercise-name") Name
								input(type="text" id="exercise-name" required placeholder="Type your exercise name")
							.exercise-selects								
								.checkbox-group
									span Type:
									ul.checkbox-list
										li
											input(type="checkbox" id="type-strength" value="strength")
											label(for="type-strength") Strength
										li
											input(type="checkbox" id="type-selfRelease" value="selfRelease")
											label(for="type-selfRelease") Release
										li
											input(type="checkbox" id="type-stretches" value="stretches")
											label(for="type-stretches") Stretch
										li
											input(type="checkbox" id="type-neutralMob" value="neutralMob")
											label(for="type-neutralMob") Neutral Mob.
										li
											input(type="checkbox" id="type-selfMob" value="selfMob")
											label(for="type-selfMob") Self Mob.
										li
											input(type="checkbox" id="type-postOp" value="postOp")
											label(for="type-postOp") Post op.
										li
											input(type="checkbox" id="type-posture" value="posture")
											label(for="type-posture") Posture
										li
											input(type="checkbox" id="type-proprioception" value="proprioception")
											label(for="type-proprioception") Proprioception
										li
											input(type="checkbox" id="type-cardio" value="cardio")
											label(for="type-cardio") Cardio
										li
											input(type="checkbox" id="type-agility" value="agility")
											label(for="type-agility") Agility
										li
											input(type="checkbox" id="type-others" value="others")
											label(for="type-others") Others
								.checkbox-group.parts
									span Part:
									ul.checkbox-list
										li
											input(type="radio" id="type-strength2" value="strength" name="new-exercise-part")
											label(for="type-strength2") Strength
										li
											input(type="radio" id="type-selfRelease2" value="selfRelease" name="new-exercise-part")
											label(for="type-selfRelease2") Release
										li
											input(type="radio" id="type-stretches2" value="stretches" name="new-exercise-part")
											label(for="type-stretches2") Stretch
								.checkbox-group
									span Show sides:
									.checkbox-list
										input(type="checkbox" id="showSides" value="1" checked)
										label(for="showSides") Display the left/right/both selector
								.checkbox-group.exercise-type
									span This exercise is:
									ul.checkbox-list
										li
											input(type="radio" id="rep-based" value="rep-based" name="exercise-type")
											label(for="rep-based") Rep based
										li
											input(type="radio" id="time-based" value="time-based" name="exercise-type")
											label(for="time-based") Time based
							.program-settings
								.field
									.item
										label(for="hold-time") Hold Time
										.range-holder
											#card-hold-time.card-range-slider
									.item
										label(for="sec") sec
										input(type="text" id="sec" value="20")
								.field
									.item
										label(for="reps") Reps
										.range-holder
											#card-reps.card-range-slider
									.item
										label(for="reps-count")
										input(type="text" id="reps-count" value="1")
								.field
									.item
										label(for="select-side") Select Side
										.input-select
											select#select-side(name="select-side")
												option(value="" selected disabled) Select
												option(value="1") 1
												option(value="2") 2
												option(value="3") 3
								.field
									.item
										label(for="sets") Sets
										.input-number
											input(type="number" value="1" min="1")
											.controls
												a(href="#" class="more")
												a(href="#" class="less")
									.item
										label(for="rest") rest
											a(href="#" class="info")
												img(src="assets/images/tip.svg", alt="")
										.input-number
											input(type="number" value="1" min="1")
											.controls
												a(href="#" class="more")
												a(href="#" class="less")
				.file-uploads
					.fileupload-buttonbar
						.col-lg-7
							span.btn.btn-success
								i.glyphicon.glyphicon-plus
								span Add files...
								input(type="file")
							button.btn.btn-primary
								i.glyphicon.glyphicon-upload
								span Start upload
							button.btn.btn-warning
								i.glyphicon.glyphicon-ban-circle
								span Cancel upload
							button.btn.btn-danger
								i.glyphicon.glyphicon-trash
								span Delete		
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/nouislider.min.js")
		script(src="assets/js/main.js")