<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		title My Physio Dashboard | Home 2
	body
		section.home
			.container
				.home-panel
					.user
						.ava-holder.avatar
							img(src="http://pipsum.com/100x100", alt="")
						.user-name Good Morning, Triton!
						.search
							input(type="text" placeholder="Search")
					.home-btns
						ul
							li
								a(href="#")
									i.icon.icon-home
							li
								a(href="#")
									i.icon.icon-chat
							li
								a(href="#")
									i.icon.icon-stats
				.home-data
					.contacts
						.list
							ul
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Noah Rogers
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Calvin Russell
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Luke Leonard
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Gene Hodges
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Gary Mendoza
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Hettie Hubbard
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Noah Rogers
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
								li.member
									.member-photo.avatar
										img(src="http://pipsum.com/49x49", alt="")
									.member-data
										.name Calvin Russell
										.success 50% completion of exerciese program.
										a(href="#" class="view-profile") View profile
						.current-chat
							.contact.avatar
								img(src="http://pipsum.com/49x49", alt="")
							.msg.
								Hey Triton i just wanted to let you know
								i’ve finished my program and was 
								hoping to make an appointment. Cheers.
								Noah Rogers.
							input(type="text" placeholder="Type reply here")

					

		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/main.js")