<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		title My Physio Dashboard | Home
	body
		section.home
			.container
				.home-panel
					.user
						.ava-holder.avatar
							img(src="http://pipsum.com/100x100", alt="")
						.user-name Good Morning, Triton!
						.search
							input(type="text" placeholder="Search")
					.home-btns
						ul
							li
								a(href="#")
									i.icon.icon-home
							li
								a(href="#")
									i.icon.icon-chat
							li
								a(href="#")
									i.icon.icon-stats
				.home-data
					img(src="assets/images/tristan-colangelo.png", alt="" class="img-responsive")

		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/main.js")