<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="assets/css/nouislider.css")
		title My Physio Dashboard | THE LOWER EXTREMITY FUNCTIONAL SCALE 
	body
		header
			.main-line
				.container
					.header-panel
						.logo
							a(href="/") MyPhysio
		section.letter
			.container
				h1 THE LOWER EXTREMITY FUNCTIONAL SCALE
				p.
					We are interested in knowing whether you are having any difficulty at all with the activities listed below <i>because of your lower limb</i>. Problem for which you are currently seeking attention. Please provide an answer for <b>each</b> activity.
				span.
					Today, <i>do you</i> or <i>would you</i> have any difficulty at all with: 
				table.letter-table
					thead
						tr
							th(colspan="2") Activities
							th.
								Extreme Difficulty or Unable to Perform Activity
							th Quite a Bit of Difficulty 
							th Moderate Difficulty 
							th A Little Bit of Difficulty
							th No Difficulty
					tbody
						tr
							td(width="5%") 1
							td(width="45%") Any of your usual work, housework, or school activities
							td
								input(type="radio" id="activities-1-0" checked name="activities-1")
								label(for="activities-1-0")
							td
								input(type="radio" id="activities-1-1" name="activities-1")
								label(for="activities-1-1")
							td
								input(type="radio" id="activities-1-2" name="activities-1")
								label(for="activities-1-2")
							td
								input(type="radio" id="activities-1-3" name="activities-1")
								label(for="activities-1-3")
							td
								input(type="radio" id="activities-1-4" name="activities-1")
								label(for="activities-1-4")
						tr
							td 2
							td Your usual hobbies, re creational or sporting activities. 
							td
								input(type="radio" id="activities-2-0" checked name="activities-2")
								label(for="activities-2-0")								
							td
								input(type="radio" id="activities-2-1" name="activities-2")
								label(for="activities-2-1")							
							td
								input(type="radio" id="activities-2-2" name="activities-2")
								label(for="activities-2-2")							
							td
								input(type="radio" id="activities-2-3" name="activities-2")
								label(for="activities-2-3")							
							td
								input(type="radio" id="activities-2-4" name="activities-2")
								label(for="activities-2-4")							
						tr
							td 3
							td Getting into or out of the bath.  
							td
								input(type="radio" id="activities-3-0" checked name="activities-3")
								label(for="activities-3-0")
							td
								input(type="radio" id="activities-3-1" name="activities-3")
								label(for="activities-3-1")
							td
								input(type="radio" id="activities-3-2" name="activities-3")
								label(for="activities-3-2")
							td
								input(type="radio" id="activities-3-3" name="activities-3")
								label(for="activities-3-3")
							td
								input(type="radio" id="activities-3-4" name="activities-3")
								label(for="activities-3-4")
						tr
							td 4
							td Walking between rooms.  
							td
								input(type="radio" id="activities-4-0" checked name="activities-4")
								label(for="activities-4-0")
							td
								input(type="radio" id="activities-4-1" name="activities-4")
								label(for="activities-4-1")
							td
								input(type="radio" id="activities-4-2" name="activities-4")
								label(for="activities-4-2")
							td
								input(type="radio" id="activities-4-3" name="activities-4")
								label(for="activities-4-3")
							td
								input(type="radio" id="activities-4-4" name="activities-4")
								label(for="activities-4-4")
						tr
							td 5
							td Putting on your shoes or socks.   
							td
								input(type="radio" id="activities-5-0" checked name="activities-5")
								label(for="activities-5-0")
							td
								input(type="radio" id="activities-5-1" name="activities-5")
								label(for="activities-5-1")
							td
								input(type="radio" id="activities-5-2" name="activities-5")
								label(for="activities-5-2")
							td
								input(type="radio" id="activities-5-3" name="activities-5")
								label(for="activities-5-3")
							td
								input(type="radio" id="activities-5-4" name="activities-5")
								label(for="activities-5-4")
						tr
							td 6
							td Squatting.    
							td
								input(type="radio" id="activities-6-0" checked name="activities-6")
								label(for="activities-6-0")
							td
								input(type="radio" id="activities-6-1" name="activities-6")
								label(for="activities-6-1")
							td
								input(type="radio" id="activities-6-2" name="activities-6")
								label(for="activities-6-2")
							td
								input(type="radio" id="activities-6-3" name="activities-6")
								label(for="activities-6-3")
							td
								input(type="radio" id="activities-6-4" name="activities-6")
								label(for="activities-6-4")
						tr
							td 7
							td Lifting an object, like a bag of groceries from the floor.     
							td
								input(type="radio" id="activities-7-0" checked name="activities-7")
								label(for="activities-7-0")
							td
								input(type="radio" id="activities-7-1" name="activities-7")
								label(for="activities-7-1")
							td
								input(type="radio" id="activities-7-2" name="activities-7")
								label(for="activities-7-2")
							td
								input(type="radio" id="activities-7-3" name="activities-7")
								label(for="activities-7-3")
							td
								input(type="radio" id="activities-7-4" name="activities-7")
								label(for="activities-7-4")
						tr
							td 8
							td Performing light activities around your home.      
							td
								input(type="radio" id="activities-8-0" checked name="activities-8")
								label(for="activities-8-0")
							td
								input(type="radio" id="activities-8-1" name="activities-8")
								label(for="activities-8-1")
							td
								input(type="radio" id="activities-8-2" name="activities-8")
								label(for="activities-8-2")
							td
								input(type="radio" id="activities-8-3" name="activities-8")
								label(for="activities-8-3")
							td
								input(type="radio" id="activities-8-4" name="activities-8")
								label(for="activities-8-4")
						tr
							td 9
							td Performing heavy activities around your home.     
							td
								input(type="radio" id="activities-9-0" checked name="activities-9")
								label(for="activities-9-0")
							td
								input(type="radio" id="activities-9-1" name="activities-9")
								label(for="activities-9-1")
							td
								input(type="radio" id="activities-9-2" name="activities-9")
								label(for="activities-9-2")
							td
								input(type="radio" id="activities-9-3" name="activities-9")
								label(for="activities-9-3")
							td
								input(type="radio" id="activities-9-4" name="activities-9")
								label(for="activities-9-4")
						tr
							td 10
							td Getting into or out of a car     
							td
								input(type="radio" id="activities-10-0" checked name="activities-10")
								label(for="activities-10-0")
							td
								input(type="radio" id="activities-10-1" name="activities-10")
								label(for="activities-10-1")
							td
								input(type="radio" id="activities-10-2" name="activities-10")
								label(for="activities-10-2")
							td
								input(type="radio" id="activities-10-3" name="activities-10")
								label(for="activities-10-3")
							td
								input(type="radio" id="activities-10-4" name="activities-10")
								label(for="activities-10-4")
						tr
							td 11
							td Walking 2 blocks.     
							td
								input(type="radio" id="activities-11-0" checked name="activities-11")
								label(for="activities-11-0")
							td
								input(type="radio" id="activities-11-1" name="activities-11")
								label(for="activities-11-1")
							td
								input(type="radio" id="activities-11-2" name="activities-11")
								label(for="activities-11-2")
							td
								input(type="radio" id="activities-11-3" name="activities-11")
								label(for="activities-11-3")
							td
								input(type="radio" id="activities-11-4" name="activities-11")
								label(for="activities-11-4")
						tr
							td 12
							td Walking a mile     
							td
								input(type="radio" id="activities-12-0" checked name="activities-12")
								label(for="activities-12-0")
							td
								input(type="radio" id="activities-12-1" name="activities-12")
								label(for="activities-12-1")
							td
								input(type="radio" id="activities-12-2" name="activities-12")
								label(for="activities-12-2")
							td
								input(type="radio" id="activities-12-3" name="activities-12")
								label(for="activities-12-3")
							td
								input(type="radio" id="activities-12-4" name="activities-12")
								label(for="activities-12-4")
						tr
							td 13
							td Going up or down 10 stairs (about 1 flight of stairs).     
							td
								input(type="radio" id="activities-13-0" checked name="activities-13")
								label(for="activities-13-0")
							td
								input(type="radio" id="activities-13-1" name="activities-13")
								label(for="activities-13-1")
							td
								input(type="radio" id="activities-13-2" name="activities-13")
								label(for="activities-13-2")
							td
								input(type="radio" id="activities-13-3" name="activities-13")
								label(for="activities-13-3")
							td
								input(type="radio" id="activities-13-4" name="activities-13")
								label(for="activities-13-4")
						tr
							td 14
							td Standing for 1 hour.     
							td
								input(type="radio" id="activities-14-0" checked name="activities-14")
								label(for="activities-14-0")
							td
								input(type="radio" id="activities-14-1" name="activities-14")
								label(for="activities-14-1")
							td
								input(type="radio" id="activities-14-2" name="activities-14")
								label(for="activities-14-2")
							td
								input(type="radio" id="activities-14-3" name="activities-14")
								label(for="activities-14-3")
							td
								input(type="radio" id="activities-14-4" name="activities-14")
								label(for="activities-14-4")
						tr
							td 15
							td Sitting for 1 hour.    
							td
								input(type="radio" id="activities-15-0" checked name="activities-15")
								label(for="activities-15-0")
							td
								input(type="radio" id="activities-15-1" name="activities-15")
								label(for="activities-15-1")
							td
								input(type="radio" id="activities-15-2" name="activities-15")
								label(for="activities-15-2")
							td
								input(type="radio" id="activities-15-3" name="activities-15")
								label(for="activities-15-3")
							td
								input(type="radio" id="activities-15-4" name="activities-15")
								label(for="activities-15-4")
						tr
							td 16
							td Running on even ground.     
							td
								input(type="radio" id="activities-16-0" checked name="activities-16")
								label(for="activities-16-0")
							td
								input(type="radio" id="activities-16-1" name="activities-16")
								label(for="activities-16-1")
							td
								input(type="radio" id="activities-16-2" name="activities-16")
								label(for="activities-16-2")
							td
								input(type="radio" id="activities-16-3" name="activities-16")
								label(for="activities-16-3")
							td
								input(type="radio" id="activities-16-4" name="activities-16")
								label(for="activities-16-4")
						tr
							td 17
							td Running on uneven ground.      
							td
								input(type="radio" id="activities-17-0" checked name="activities-17")
								label(for="activities-17-0")
							td
								input(type="radio" id="activities-17-1" name="activities-17")
								label(for="activities-17-1")
							td
								input(type="radio" id="activities-17-2" name="activities-17")
								label(for="activities-17-2")
							td
								input(type="radio" id="activities-17-3" name="activities-17")
								label(for="activities-17-3")
							td
								input(type="radio" id="activities-17-4" name="activities-17")
								label(for="activities-17-4")
						tr
							td 18
							td Making sharp turns while running fast.       
							td
								input(type="radio" id="activities-18-0" checked name="activities-18")
								label(for="activities-18-0")
							td
								input(type="radio" id="activities-18-1" name="activities-18")
								label(for="activities-18-1")
							td
								input(type="radio" id="activities-18-2" name="activities-18")
								label(for="activities-18-2")
							td
								input(type="radio" id="activities-18-3" name="activities-18")
								label(for="activities-18-3")
							td
								input(type="radio" id="activities-18-4" name="activities-18")
								label(for="activities-18-4")
						tr
							td 19
							td Hopping       
							td
								input(type="radio" id="activities-19-0" checked name="activities-19")
								label(for="activities-19-0")
							td
								input(type="radio" id="activities-19-1" name="activities-19")
								label(for="activities-19-1")
							td
								input(type="radio" id="activities-19-2" name="activities-19")
								label(for="activities-19-2")
							td
								input(type="radio" id="activities-19-3" name="activities-19")
								label(for="activities-19-3")
							td
								input(type="radio" id="activities-19-4" name="activities-19")
								label(for="activities-19-4")
						tr
							td 20
							td Rolling over in bed.        
							td
								input(type="radio" id="activities-20-0" checked name="activities-20")
								label(for="activities-20-0")
							td
								input(type="radio" id="activities-20-1" name="activities-20")
								label(for="activities-20-1")
							td
								input(type="radio" id="activities-20-2" name="activities-20")
								label(for="activities-20-2")
							td
								input(type="radio" id="activities-20-3" name="activities-20")
								label(for="activities-20-3")
							td
								input(type="radio" id="activities-20-4" name="activities-20")
								label(for="activities-20-4")
				.pagination
					ul
						li
							a(href="#" class="active") 1
						li
							a(href="#") 2
						li
							a(href="#") 3
						li
							a(href="#" class="next")
				.table-results
					span Minimum Level of Detectable Change (90% Confidence): 9 points
					.score
						span Score ___/80
				.table-disclaimer.
					Reprinted from Binkley, J., Stratford, P., Lott, S., Riddle, D., & The North American Orthopaedic Rehabilitation Research Network, The Lower Extremity Functional Scale: Scale development, measurement properties, and clinical application, Physical Therapy, 1999, 79, 4371-383, with permission of the American Physical Therapy Association. 
