<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		title My Physio Dashboard | My articles
	body
		header
			.main-line
				.container
					.header-panel
						.logo
							a(href="/") MyPhysio
						.patient
							a(href="#") Patients
						.settings
							a(href="#" class="active") General Settings
					.user-panel
						.user
							.user-avatar.avatar
								img(src="http://pipsum.com/100x100", alt="")
							.user-name Henry Wagner
						.logout
							a(href="#" title="Log Out")
			nav
				.container
					ul
						li
							a(href="#" class="active") General
						li
							a(href="#") Team Members
						li
							a(href="#") My Exercises
						li
							a(href="#") My Templates
						li
							a(href="#") My Articles
						li
							a(href="#") Integrations 
						li
							a(href="#") Marketing Automation
		section.articles
			.container
				.section-panel
					h1 My Articles
					.control-panel
						form(action="#")
							.form-field.checkbox
								input(type="checkbox" id="only-my-articles")
								label(for="only-my-articles") show only my articles
							.form-field.search-box
								input(type="text" placeholder="Search Articles" required)
							.form-field
								button(type="submit") Add Articles
				.articles-container
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Hot-Cold Treatment
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Injury Healing Process
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Managing Inflammation
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Office Ergonomics
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Pain 1: What is Pain?
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Pain 2: The Homunculus
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Pain 3: The Neuromatrix
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Pain 4: Why some people feel more pain
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 Pain 5: Your brain influencing your pain
					article
						a(href="#")
							img(src="http://pipsum.com/400x200", alt="")
							h2 What Is Whiplash?
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/main.js")