<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		title My Physio Dashboard | My articles
	body
		header
			.main-line
				.container
					.header-panel
						.logo
							a(href="/") MyPhysio
						.patient
							a(href="#") Patients
						.settings
							a(href="#" class="active") General Settings
					.user-panel
						.user
							.user-avatar.avatar
								img(src="http://pipsum.com/100x100", alt="")
							.user-name Henry Wagner
						.logout
							a(href="#" title="Log Out")
			nav
				.container
					ul
						li
							a(href="#" class="active") General
						li
							a(href="#") Team Members
						li
							a(href="#") My Exercises
						li
							a(href="#") My Templates
						li
							a(href="#") My Articles
						li
							a(href="#") Integrations 
						li
							a(href="#") Marketing Automation
		section.exercise
			.container
				.section-panel
					h1 My Exercise
					.control-panel
						form(action="#")
							.form-field.search-box
								input(type="text" placeholder="Search Exercises" required)
							.form-field
								button(type="submit") Add Exercise
				ul.exercise-types
					li
						a(href="#" class="active") All Types
					li
						a(href="#") Strenght
					li
						a(href="#") Release 
					li
						a(href="#") Stretch
					li
						a(href="#") Neutral Mob.
					li
						a(href="#") Self Mob.
					li
						a(href="#") Post op.
					li
						a(href="#") Posture
					li
						a(href="#") Proprioception
					li
						a(href="#") Cardio
					li
						a(href="#") Agility
					li
						a(href="#") Others
				.page
					.sidebar
						ul.exercise-parts
							li
								a(href="#" class="active") All parts 
							li
								a(href="#") Core
							li
								a(href="#") Head and Neck
							li
								a(href="#") Shoulder
							li
								a(href="#") Upper Body
							li
								a(href="#") Lower Body 
							li
								a(href="#") Upper Back
							li
								a(href="#") Upper Limb
							li
								a(href="#") Lower Limb
							li
								a(href="#") Elbow
							li
								a(href="#") Hip and Pelvis 
							li
								a(href="#") Knee
							li
								a(href="#") Foot and Ankle
					.content
						.exercise-container
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Side Lying Hip Internal Rotation
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Point Kneel With Arm Lift
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Point Leg Abduction
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Thomas Stetch
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Side Lying Hip Internal Rotation
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Point Kneel With Arm Lift
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Point Leg Abduction
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Thomas Stetch
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Side Lying Hip Internal Rotation
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Point Kneel With Arm Lift
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Point Leg Abduction
							.exercise
								a(href="#")
									img(src="http://pipsum.com/400x300", alt="")
									span Thomas Stetch
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/main.js")