<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/select2/4.0.3/css/select2.min.css")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="assets/css/nouislider.css")
		title My Physio Dashboard | Program builder tools
	body
		section.program
			.user-side
				.top-panel
					ul
						li
							a(href="#" class="back" title="Back")
						li
							a(href="#" title="Home")
								img(src="assets/images/main-logo.svg", alt="")
						li
							span My Physio
				.user
					.user-photo.avatar
						img(src="http://pipsum.com/100x100", alt="")
					.user-name Serhii Hubarenko
					.user-mail lelaquin@gmail.com					
					ul.nav-panel
						li
							a(href="#" class="programs active") Programs
						li
							a(href="#" class="chat") Chat
						li
							a(href="#" class="insights") Insights
			.program-container
				.program-head
					.select-program
						label(for="select-program") Select Program:
						.select-holder
							select#select-program.js-example-basic-single
								option(selected disabled value="") Add new
								optgroup(label="Group 1")
									option(value="program1") Program for Junior
									option(value="program2") Program for Junior
									option(value="program3") Program for Junior
								optgroup(label="Group 1")
									option(value="program1") Program for Junior
									option(value="program2") Program for Junior
									option(value="program3") Program for Junior
								optgroup(label="Group 1")
									option(value="program1") Program for Junior
									option(value="program2") Program for Junior
									option(value="program3") Program for Junior
					.buttons
						a(href="#" class="save") Save in Pdf
						a(href="#" class="send") Send programm
				.template-head
					.template-data
						.current-status
							div 50%
						.template-name
							.name Program for Junior
							.rate
								ul
									li.active
									li.active
									li.active
									li.active
									li
						.frequency 1 Timer per Day
						.tags
							a(href="#" class="tag") Pain Scale
				.program-main
					.program-title
						.preview
							a(href="#" class="play-btn")
							img(src="http://pipsum.com/237x186", alt="")
						.program-name
							h1 Side Lying Hip Internal Rotation
					.program-setting.active
						.range-holder
							span Reps
							.range-line#range1
							input(type="text" id="range1-output")
						.range-holder
							span Time
							.range-line#range2
							input(type="text" id="range2-output")
						.radio-holder
							.radio
								input(type="radio" name="program-type" id="type1" checked)
								label(for="type1") Left Side
							.radio
								input(type="radio" name="program-type" id="type2")
								label(for="type2") Alternating
							.radio
								input(type="radio" name="program-type" id="type3")
								label(for="type3") Right Side
							.radio
								input(type="radio" name="program-type" id="type4")
								label(for="type4") Both
						.range-holder
							span Sets
							.range-line#range3
							input(type="text" id="range3-output")
						.range-holder
							span Rest
							.range-line#range4
							input(type="text" id="range4-output")
					.program-note
						.note
							.note-head
								.note-name Important note
								a(href="#").note-detais
									i
									i
									i
							.note-body
								p.
									When I was just starting 6th grade I got my first job. Paperboy! Boy, was I excited. At that time I had spent a lot of time actually playing
				.template-exercises
					ol
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")							
							img(src="assets/images/ex2.png" alt="")
							span Side Lying Hip Internal Rotation
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")
							img(src="assets/images/ex3.png" alt="")
							span Point Kneel With Arm Lift
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")
							img(src="assets/images/ex1.png" alt="")
							span Point Leg Abduction
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")
							img(src="assets/images/ex6.png" alt="")
							span Thomas Stetch
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")
							img(src="assets/images/ex5.png" alt="")
							span Bent Over Rows With 2 Dumbbells
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")
							img(src="assets/images/ex4.png" alt="")
							span Foot Lifts from Sitting on Swissball
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")
							img(src="assets/images/ex7.png" alt="")
							span Downward Facing Dog Stretch
						li
							.action-buttons
								a(href="#" class="move" title="Move")
								a(href="#" class="delete" title="Delete")
							img(src="assets/images/ex12.png" alt="")
							span Single Leg Dips
				.articles
					h2 Articles
					.articles-container
						article
							.action-buttons
								a(href="#" class="delete" title="Delete")
							a(href="#")
								img(src="assets/images/ex11.png", alt="")
								h3 Hot-Cold Treatment
						article
							.action-buttons
								a(href="#" class="delete" title="Delete")
							a(href="#")
								img(src="assets/images/ex8.png", alt="")
								h3 Injury Healing Process
						article
							.action-buttons
								a(href="#" class="delete" title="Delete")
							a(href="#")
								img(src="assets/images/ex9.png", alt="")
								h3 Managing Inflammation
						article
							.action-buttons
								a(href="#" class="delete" title="Delete")
							a(href="#")
								img(src="assets/images/ex10.png", alt="")
								h3 Office Ergonomics
						article
							.action-buttons
								a(href="#" class="delete" title="Delete")
							a(href="#")
								img(src="assets/images/ex11.png", alt="")
								h3 Hot-Cold Treatment
						article
							.action-buttons
								a(href="#" class="delete" title="Delete")
							a(href="#")
								img(src="assets/images/ex8.png", alt="")
								h3 Injury Healing Process
				.buttons-panel
					a(href="#" class="create btn-gradient") Create as a template
					a(href="#" class="remove") Remove program
			.side-panel#tabs
				ul.tabs-navigation
					li
						a(href="#tabs-1") Exercises 
					li
						a(href="#tabs-2") Tools
					li
						a(href="#tabs-3") Articles
				.tab#tabs-1
					h4 Exercises Library
					form.search-form
						input(type="text" placeholder="Search" required)
						button(type="submit" title="Submit")
					ul.exercises-tags
						li
							a(href="#" class="active") All
						li
							a(href="#") Realese
						li
							a(href="#") Stretch
						li
							a(href="#") Posture.
						li
							a(href="#") Self Mob.
						li
							a(href="#") Post Op.
						li
							a(href="#") Proproception.
						li
							a(href="#") Neutral Mob.
						li
							a(href="#") Assessment Tools
					.select-holder
						select#select-exercise
							option(value="exercise1") All parts
							option(value="exercise2") All parts
							option(value="exercise3") All parts
					ul.exercise-list
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex1.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex7.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex6.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex12.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex1.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex7.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex1.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex7.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex6.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex12.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex1.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex7.png", alt="" class="img-responsive")
								span Side Lying Hip Internal Rotation
				.tab#tabs-2
					h4 Tools
					form.search-form
						input(type="text" placeholder="Search" required)
						button(type="submit" title="Submit")
					.add-tools
						.tool.pain-scale
							.tool-name Add Pain Scale
							a(href="#" class="add-tool" title="Add")
						.tool.note
							.tool-name Add Note
							a(href="#" class="add-tool" title="Add")
						.tool.note
							.tool-name Motivational Quotes
							a(href="#" class="add-tool" title="Add")
				.tab#tabs-3
					h4 Articles
					form.search-form
						input(type="text" placeholder="Search" required)
						button(type="submit" title="Submit")
					ul.article-list
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex11.png", alt="" class="img-responsive")
								span Hot-Cold Treatment
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex8.png", alt="" class="img-responsive")
								span Injury Healing Process
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex9.png", alt="" class="img-responsive")
								span Managing Inflammation
						li.item
							a(href="#")
								.img-holder
									img(src="assets/images/ex10.png", alt="" class="img-responsive")
								span Office Ergonomics
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/nouislider.min.js")
		script(src="assets/js/jquery-ui.min.js")
		script(src="https://cdn.jsdelivr.net/select2/4.0.3/js/select2.full.min.js")
		script(src="assets/js/main.js")