<!DOCTYPE html>
html(lang="en")
	head
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		link(rel="stylesheet", href="https://necolas.github.io/normalize.css/3.0.2/normalize.css")
		link(rel="stylesheet", href="style.css")
		title My Physio Dashboard | Sign Up
	body.sign-up
		header
			.main-line
				.container
					.header-panel
						.logo
							a(href="/") MyPhysio
						.patient
							a(href="#") Patients
						.settings
							a(href="#" class="active") General Settings
					.user-panel
						.user
							.user-avatar.avatar
								img(src="http://pipsum.com/100x100", alt="")
							.user-name Henry Wagner
						.logout
							a(href="#" title="Log Out")
			nav
				.container
					ul
						li
							a(href="#") General
						li
							a(href="#" class="active") Team Members
						li
							a(href="#") My Exercises
						li
							a(href="#") My Templates
						li
							a(href="#") My Articles
						li
							a(href="#") Integrations 
						li
							a(href="#") Marketing Automation
		section.settings
			.container
				.members-container
					a(href="#" class="edit-btn" id="edit-details") Edit
					.table-head
						h3 Team Member List
						a(href="#" class="btn-gradient") Add
					table.members
						thead
							tr
								td Name
								td Email
								td Roles
								td Action
						tbody
							tr
								td
									input(type="text" value="Justin")
								td
									input(type="email" value="justin@gmail.com")
								td
									.member-role
										input(type="radio" name="member1-role" id="member1-role1")
										label(for="member1-role1") Admin
										input(type="radio" name="member1-role" id="member1-role2" class="disabled" disabled)
										label(for="member1-role2") Super Admin
										input(type="radio" name="member1-role" id="member1-role3")
										label(for="member1-role3") Physio
								td
									.actions
										a(href="#" class="active") Active/Inactive
										a(href="#") Delete
							tr
								td
									input(type="text" value="Justin")
								td
									input(type="email" value="justin@gmail.com")
								td
									.member-role
										input(type="radio" name="member2-role" id="member2-role1")
										label(for="member2-role1") Admin
										input(type="radio" name="member2-role" id="member2-role2")
										label(for="member2-role2") Super Admin
										input(type="radio" name="member2-role" id="member2-role3")
										label(for="member2-role3") Physio
								td
									.actions
										a(href="#" class="inactive") Active/Inactive
										a(href="#") Delete
							tr
								td
									input(type="text" value="Justin")
								td
									input(type="email" value="justin@gmail.com")
								td
									.member-role
										input(type="radio" name="member3-role" id="member3-role1")
										label(for="member3-role1") Admin
										input(type="radio" name="member3-role" id="member3-role2")
										label(for="member3-role2") Super Admin
										input(type="radio" name="member3-role" id="member3-role3")
										label(for="member3-role3") Physio
								td
									.actions
										a(href="#" class="active") Active/Inactive
										a(href="#") Delete
					a(href="#" class="save-btn btn-gradient" id="save-hours") Save
		//- section.invite
		//- 	h1 Send Invitations
		//- 	p.
		//- 		Invite a new member to the practice.
		//- 	form(action="#").signup-form
		//- 		.form-field
		//- 			label(for="name") Name
		//- 			input(type="text" id="name" required)
		//- 		.form-field
		//- 			label(for="email") Email
		//- 			input(type="email" id="email" required)
		//- 		.form-field
		//- 			label(for="confirm-email") Confirm Email
		//- 			input(type="email" id="confirm-email" required)
		//- 		.form-field.roles
		//- 			.field-subtitle Roles:
		//- 			.member-role
		//- 				.role
		//- 					input(type="radio" id="role1" name="member-role")
		//- 					label(for="role1") Patient
		//- 				.role
		//- 					input(type="radio" id="role2" name="member-role")
		//- 					label(for="role2") Practic Manager
		//- 				.role
		//- 					input(type="radio" id="role3" name="member-role")
		//- 					label(for="role3") Lead Physio
		//- 				.role
		//- 					input(type="radio" id="role4" name="member-role")
		//- 					label(for="role4") Physio
		//- 				.role
		//- 					input(type="radio" id="role5" name="member-role")
		//- 					label(for="role5") Admin
		//- 				.role
		//- 					input(type="radio" id="role6" name="member-role" checked)
		//- 					label(for="role6") Team Member
		//- 				.role
		//- 					input(type="radio" id="role7" name="member-role")
		//- 					label(for="role7") System Admin
		//- 				span Select all the roles this user will perform
		//- 		.form-field
		//- 			input(type="submit" class="btn-gradient" value="Send invitation")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(src="assets/js/main.js")